@use "sass:map";
@use "@styles/variables.scss" as *;

.final-section {
  .hero-section {
    &__background {
      background-image: url(@images/Home/background-final.jpg);
    }

    &__content {
      padding-top: 13rem;
    }

    &__body {
      order: -1;

      & > svg {
        margin-right: 4.5rem;
        fill: map.get($colors, object, secondary);

        @include make-square(17.7rem);

        @include mq(lg) {
          margin-right: 3rem;

          @include make-square(14rem);
        }

        @include mq(md) {
          display: none;
        }
      }
    }
  }

  .wrapper {
    display: flex;
  }
}
